.accordion {
  display: flex;
  flex-direction: column;

  max-width: 991px;
  min-width: 290px;
  margin: 10px auto;
  padding: 0 50px;
  margin-bottom: 70px;
}
.accordion h2 {
  text-align: center;

  margin-bottom: 20px;

  background: #eda9de;
  background: -webkit-linear-gradient(to left, #eda9de 0%, #89015f 100%);
  background: -moz-linear-gradient(to left, #eda9de 0%, #89015f 100%);
  background: linear-gradient(to left, #eda9de 0%, #89015f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accordion-item {
  margin-top: 16px;
  border-radius: 6px;

  background: #08080c73;
  border-radius: 16px;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid #202944;
}


.accordion-item:hover {
  background: #1b31573d;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid #1B3157;

}

.accordion-item-title p {
  color: white;
}

.accordion-item-title .icon {
  color: rgb(0, 212, 250);
}
.accordion-item .accordion-item-title {
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 14px 20px;
  box-sizing: border-box;
  align-items: center;
}
.accordion-item .accordion-item-desc {
  display: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #9ca391;
  border-top: 1px dashed #00d9ff;
  padding: 10px 20px 20px;
  box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
  display: block;
}
.accordion-item
  input[type="checkbox"]:checked
  ~ .accordion-item-title
  .icon:after {
  content: "-";
  font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
  content: "+";
  font-size: 20px;
}
.accordion-item:first-child {
  margin-top: 0;
}
.accordion-item .icon {
  margin-left: 14px;
}

@media screen and (max-width: 767px) {
  .accordion {
    padding: 0 16px;
  }
}
